<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangchenghuan.android_item_test4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.example.yangchenghuan.myApp.StudentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:label="@string/title_activity_courses" >
        </activity>
        <activity
            android:name=".CoursesDetailActivity"
            android:label="@string/title_activity_courses_detail" >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".PersonalActivity"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name=".AttendActivity"
            android:label="@string/title_activity_attend" >
        </activity>
        <activity
            android:name=".LaterActivity"
            android:label="@string/title_activity_later" >
        </activity>
        <activity
            android:name=".RewardpunishActivity"
            android:label="@string/title_activity_rewardpunish" >
        </activity>
        <activity
            android:name=".OffercoursesActivity"
            android:label="@string/title_activity_offercourses" >
        </activity>
    </application>

</manifest>
